.workflow-item{

animation:workflowFade .55s ease forwards;

opacity:0;

transform:translateY(15px);

}

.workflow-left div{

display:flex;

flex-direction:column;

}

.workflow-left strong{

color:white;

font-size:15px;

}

.workflow-left small{

margin-top:4px;

color:#94a3b8;

font-size:12px;

}

@keyframes workflowFade{

to{

opacity:1;

transform:translateY(0);

}

}